# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
psycopg[binary]
alembic

# Validation & Settings
pydantic
pydantic-settings
python-dotenv

# HTTP Client
httpx

# AI
google-generativeai
openai


# Authentication
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]

# Background Tasks
apscheduler

# Web Scraping
beautifulsoup4
lxml

# Logging
loguru

# Testing
pytest
pytest-asyncio

python-multipart